---
title: Sponsors
---
<p>We wouldn't be able to bring you BarCamp London X without the generous support from our sponsors.</p>

<h2>Microsoft</h2>
<p>...</p>

<h2>Paypal</h2>
<p>...</p>

<h2>SendGrid</h2>
<p>...</p>

<h2>Twilio</h2>
<p>...</p>

<h2>Proactive</h2>
<p>...</p>

<h2>DXW</h2>
<p>...</p>

<h2>vektor</h2>
<p>...</p>

<h2>FutureLearn</h2>
<p>...</p>
