<div class="header-wrapper">
  <header>
    <a href="/"><%= image_tag 'logo.png', title: 'BarCamp London X' %></a>
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Sponsors</a></li>
        <li><a class="button" href="#">Tickets</a></li>
      </ul>
    </nav>
  </header>
</div>
