<div class="header-wrapper">
  <header>
    <div class="logo">
      <a href="/"><%= image_tag 'logo.png', title: 'BarCamp London X' %></a>
    </div>

    <nav>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/guides/">Guides</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/sponsors/">Sponsors</a></li>
        <li><a class="button" href="/tickets/">Tickets</a></li>
      </ul>
    </nav>
  </header>
</div>
