<section class="hero-wrapper">
  <div class="hero">
    <h1>BarCamp London returns September 27th/28th</h1>

    <p>A free-to-attend weekend unconference for designers, developers and geeks of all types at Microsoft's offices in Victoria, London.</p>
  </div>
</section>
