<div class="sponsors-wrapper"><section class="sponsors">
  <h4><a href="/sponsors/">Sponsors</a></h4>
  <ul>
<% data.sponsors.each do |sponsor| -%>
  <% if sponsor.last['premium'] -%>
    <li class="premium-sponsor"><%= link_to image_tag("sponsors/#{sponsor.last['name'].downcase}.png", title: "#{sponsor.last['name']}"), sponsor.last['link'] %></li>
  <% end %>
<% end %>
  </ul>
  <ul>
<% data.sponsors.each do |sponsor| -%>
  <% unless sponsor.last['premium'] -%>
    <li class="sponsor"><%= link_to image_tag("sponsors/#{sponsor.last['name'].downcase}.png", title: "#{sponsor.last['name']}"), sponsor.last['link'] %></li>
  <% end %>
<% end %>
   </ul>
</section></div>
