// Responsive
// ------------------------------------------------
$responsive: true !default;

// Cross browser support settings
// ------------------------------------------------
$lt-ie9: false !default;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: $lt-ie9;
$legacy-support-for-ie8: $lt-ie9;

// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 18px;
$base-line-height: 30px;
$round-to-nearest-half-line: true;

// Colour palette
// ------------------------------------------------
$primary: #2c3030;
$secondary: #edcf07;
$tertinary: #b51e2a;

// Font stacks
// ------------------------------------------------
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Susy
// ------------------------
// Grid settings
$susy: (
  columns: 12,
  gutters: 1/4
);

// Breakpoints
$tablet-and-above: pxtoem(569px);
$desktop-and-above: pxtoem(1025px);
