// Responsive
// ------------------------------------------------
$responsive: true !default;

// Cross browser support settings
// ------------------------------------------------
$lt-ie9: false !default;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: $lt-ie9;
$legacy-support-for-ie8: $lt-ie9;

// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 24px;
$base-line-height: 35px;
$round-to-nearest-half-line: true;

// Colour palette
// ------------------------------------------------
$primary: #c00;
$secondary: #666;

// Font stacks
// ------------------------------------------------
$main-font-stack: 'Montserrat', 'Lucida Grande', tahoma, helvetica, arial, sans-serif;

// Susy
// ------------------------
// Grid settings
$susy: (
  columns: 12,
  gutters: 1,
  gutter-position: split
);

// Breakpoints
$tablet-and-above: pxtoem(630px);
$desktop-and-above: pxtoem(1024px);
