---
title: Essential Information
---
<h2>When</h2>
<p>Saturday September 27th September 2014 &mdash; Sunday 28th September 2014.</p>

<h2>Where</h2>
<figure>
  <%= image_tag 'cardinal-place.jpg' %>
  <figcaption>Cardinal Place, the venue for BarCamp London X</figcaption>
</figure>

<p><a href="http://www.microsoft.com/en-gb/about/ukoffices/london">Microsoft Cardinal Place</a>, 76-98 Victoria St, London SW1E 5JD.</p>

<h2>Travel</h2>
<p>You'll find details of various ways of getting to BarCamp London X below. For up-to-date travel information, make sure to <a href="http://www.tfl.gov.uk/">check the TfL web site</a>.</p>

<h3>Mainline and Overground</h3>

<ul>
  <li><strong>Victoria</strong> (Gatwick Express, South Eastern Railway, Southern Railway) - 3 minutes walk</li>
</ul>

<h3>Nearest Tubes</h3>

<ul>
  <li><strong>Victoria</strong> (Circle, District and Victoria lines) – 3 minutes walk</li>
</ul>

<h3>Barclays Cycle Hire Docking Stations</h3>

<p>There are three docking stations a short distance from the venue:</p>

<ul>
  <li>Cardinal Place, Victoria</li>
  <li>Ashley Place, Victoria</li>
  <li>Howick Place, Victoria</li>
</ul>

<p>Please check the <a href="http://www.tfl.gov.uk/maps/cycle-hire?Input=Victoria+Station&InputGeolocation=-0.143826%2C51.495812">TfL web site</a> for up-to-date availability</a></p>
