---
title: Speaking at BarCamp
---
<p><strong>It can be daunting to speak at a BarCamp, but it's also the most relaxed place to try your hand at speaking for the first time. We asked past BarCamp attendee and experienced conference speaker, <a href="http://christianheilmann.com">Christian Heilmann</a>, to explain more...</strong></p>

<figure class="left">
  <%= image_tag 'billy-absinthe.jpg' %>
  <figcaption>BarCamp talks can be about anything, as Billy Abbott demonstrates</figcaption>
</figure>

<p>BarCamps are a wonderful opportunity to get your first experiences as a public speaker. I've organised a few and attended a lot in the last few years in various countries and love them to bits. Lately, however, I found that the original ideas and freedoms of BarCamp have been washed out and people get stressed far too much about them (or don't use them to their advantage). When I talked to the organisers of the upcoming London BarCamp about that they asked me to jot down some of my ideas on how you approach speaking at a BarCamp without getting yourself worked up too much.</p>

<p>So what is a BarCamp? It is an <strong>Un</strong>conference and as such totally the<br>
opposite of a conference:</p>

<ul>
<li><strong>There are no predefined speakers</strong> - only a grid of speaking places and times to be filled on the spot.</li>
<li><strong>Everybody who comes to a BarCamp should also present something</strong> - just camping is frowned upon.</li>
<li><strong>The emphasis is on sharing and networking</strong> - not on listening and getting inspired whilst feeling inadequate or disconnected from those "cool" people on stage.</li>
<li><strong>In terms of topics anything goes</strong> - there is no theme to a BarCamp - this is why people do specialised camps instead.</li>
</ul>


<p>All of this is a wonderful opportunity to do a few things:</p>

<ul>
<li><strong>You can get your first speaking experience</strong> without having to submit a paper, follow speaker guidelines or any other such nonsense. Go there, sign up for a slot and go nuts. You can dance your talk, rap it, use sign language, semaphore, mime it, bring a guitar and sing it - whatever. This is about you talking about something you want to talk about rather than something that you think you have to talk about because it is hip right now.</li>
<li><strong>You can host a discussion round</strong>. If you don't feel confident as a speaker yet but you really want to get some insight into a certain topic or shine a light on an elephant in the room, simply take a slot and facilitate an open discussion about the topic.</li>
<li><strong>You can show a problem and ask people to help you solving it</strong> - which is as important as showing a solution. Geeks love to solve problems. If we don't find any we come up with arbitrary ones. If you have something that you always wanted solutions for, bring it up at a BarCamp. People will talk about it and share for you.</li>
<li><strong>You can do a showcase</strong>. If you found something working immensely well for you, show that off. It could be a piece of software you use, a methodology you follow, how to get cheap theater tickets by showing up five minutes before the show - whatever. What makes <strong>you</strong> more efficient might be exactly the thing other people were looking for.</li>
</ul>

<p>OK, but what if you are scared of the mere concept of standing up in front of a lot of people and talk but really want to face that demon? BarCamps are your opportunity to do that. Simply keep the following things in your head:</p>

<ul>
<li><strong>It is not a conference</strong> - people didn't pay to see you and everybody in the audience has to present,too so there is a very high chance that they are as worried as you are.</li>
<li><strong>Find a subject that you are passionate about</strong> - passion breeds confidence. If you are more interested in getting a subject matter across than how to present it then you will be great. Pick a topic you love and you want others to love, too. This could be timely but doesn't have to be.</li>
<li><strong>Don't plan your talk</strong> - unlike talks at conferences there is just no need to meticulously plan your talk. BarCamps are total chaos. People will come and leave during your talk and disrupt you. There can be questions from the audience during it - all of that is allowed and encouraged. For you this means that you need to be confident about the subject - not about the few dozens slides you want to use as your lifeline. Get in there armed with the knowledge you need to answer questions about your subject - not with a presentation you learnt by heart.</li>
<li><strong>There is no way you can mess up</strong> - BarCamps are a pressure free environment, this is why people invented them. The plan is to have ideas floating around and sharing them. If you are not a funny person or feel unhappy being the centre of attention don't be - show what you want to show and ask questions about it - deflect the attention to the subject matter and back to the audience.</li>
<li><strong>People are on your side</strong> - nobody at BarCamps will try to shoot you down in flames. There is nothing to be gained from it as the person will also have to present and has to deliver better. In conferences people try to show off by disagreeing with the paid expert on stage - at unconferences this will just make them look pathetic (well, <em>more</em> pathetic, really)</li>
<li><strong>Your main task is to have and inspire fun and interest</strong> - simply find something you are passionate about and try to spark the others into feeling the same. Even if that doesn't work out you came across as someone who believes in something and is happy to share it. It makes you confident, interesting and effective (watch <a href="http://www.imdb.com/title/tt0379786/">Serenity</a> and learn about the assassins in that movie as an example of that - if you believe in something you are much stronger)</li>
</ul>

<p>The main trick is to concentrate on the subject you want to cover and not the talk. However, if you want to make sure you deliver an amazing talk here are some resources I've written for training:</p>

<ul>
<li><a href="http://developer-evangelism.com/delivery.php">Deliver a talk or workshop</a>.</li>
<li><a href="http://developer-evangelism.com/slides.php">Prepare great slide decks for presentations</a>.</li>
<li><a href="http://developer-evangelism.com/tips.php">Additional presentation tips</a></li>
</ul>

<p>Another great tip of course is to look for <a href="http://www.google.co.uk/search?tbs=vid%3A1&amp;q=barcamp+presentation">videos</a> and <a href="http://www.slideshare.net/search/slideshow?searchfrom=header&amp;q=barcamp">presentations</a> given at other BarCamps and learn from other people's mistakes and successes. Be aware of not falling into the trap of copying other people's style - you are you and the speaker should be you not a faded carbon copy of another person.</p>

<p>Personally I don't show up much at BarCamps any more. The reason is that space is limited and I don't want to take away the ticket from someone who'd love to come and have their first go at presenting. If I go there I love seeing new talent and giving feedback though so if you see me and I attend your talk, don't be shy and ask.</p>

<p>I think it is time for us to re-think our BarCamp strategy and go back to its roots. I've been to quite a few unconferences lately that end up with an empty grid with only a few talks by already known speakers. This is nice as it gives people a chance to see those speakers in action without spending money on a conference ticket but it also means that others are scared of presenting themselves or hunt the known presenter instead of concentrating on sharing some of their knowledge themselves.</p>

<p>BarCamp is there for you and for others to learn about you. They are free, but they do cost a lot of time and money. If both these are wasted on people not presenting but instead consuming or playing Werewolf for a whole night we might as well call them GameCamp. It is hard to get funding for unconferences when there is nothing coming out in the end - so if you like the idea of BarCamps be part of those who make them a fertile ground of information sharing.</p>
