// Set baseline font size & line height
// See http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-establish-baseline
@include establish-baseline;

// Set box-sizing: border-box and set the $border-box-sizing variable used internally by Susy
// See http://susy.oddbird.net/guides/reference/#ref-border-box-mixin
@include border-box-sizing;

// The basics
html {
  font-family: 'Merriweather:400,700:latin', georgia, 'times new roman', times, serif;
  height: 100%;
}

body {
  background-color: lighten($primary, 66%);
  height: 100%;
  padding: 0;
}

a {
  color: $primary;
  &:hover, &:focus {
    color: lighten($primary, 33%);
  }
}

h1, h2 {
  color: darken($secondary, 20%);
  font-family: 'Montserrat', 'Lucida Grande', tahoma, helvetica, arial, sans-serif;
  font-weight: 700;
}

p {
  @include leader(0);
  @include trailer(1);
  &:last-child {
    @include trailer(0);
  }

  &.call-to-action {
    @include leader(2);
    @include trailer(1);

    a {
      background-color: $secondary;
      border: 2px $primary solid;
      padding: rhythm(0.5);
      color: $primary;
      text-decoration: none;
      @include transition-property(background-color);
      @include transition-duration(0.5s);

      &:hover, &:focus {
        background-color: lighten($secondary, 20%);
        text-decoration: underline;
      }
    }
  }
}

// Lists
ul, ol {
  @include leader(0);
  @include trailer(1);
  padding-left: rhythm(1.5);
  li {
    @include trailer(0);
  }
}

h1, .h1 {
  @include adjust-font-size-to(36px);
  @include leader(0);
  @include trailer(0);
}

h2, .h2 {
  @include adjust-font-size-to(24px);
  @include leader(0);
  @include trailer(0);
}

h3, .h3 {
  @include adjust-font-size-to(20px);
  @include leader(0);
  @include trailer(1, 20px);
}

// Content
.content-wrapper {
  background-color: #fff;
  background-image: image-url('bigben.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1.5);
}

// Header
.header-wrapper {
  background-color: $primary;
}

header {
  text-align: center;

  a {
    color: #fff;

    &:hover, &:focus { color: $secondary; }
  }

  img {
    width: 95%;

    @include breakpoint($tablet-and-above) {
      width: 50%;
    }
  }

  h2 {
    color: #fff;
    text-transform: uppercase;
    @include adjust-font-size-to(14px);
    @include trailer(0);
  }
}

// Footer
.footer-wrapper {
  background-color: lighten($primary, 66%);
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
}

footer {
}

// Home Page
p.homepage-intro {
  font-weight: bold;
  @include adjust-font-size-to(20px);
}
