// Set baseline font size & line height
// See http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-establish-baseline
@include establish-baseline;

// Set box-sizing: border-box and set the $border-box-sizing variable used internally by Susy
// See http://susy.oddbird.net/guides/reference/#ref-border-box-mixin
@include border-box-sizing;

// The basics
html {
  height: 100%;

  &, &.wf-active {
    font-family: $main-font-stack;
    font-weight: 400;
  }

  &.wf-loading, &.wf-inactive {
    font-family: 'Lucida Grande', tahoma, helvetica, arial, sans-serif;

    h1, h2, h3 { font-weight: bold }
  }
}

body {
  background-color: #fff;
  color: #000;
  height: 100%;
  padding: 0;
}

a {
  color: $secondary;
  &:hover, &:focus {
    color: lighten($secondary, 33%);
  }
}

h1, h2, h3 {
  color: $primary;
  font-weight: 700;
}

p {
  @include leader(0);
  @include trailer(1);
  &:last-child {
    @include trailer(0);
  }
}

// Lists
.main {
  ul, ol {
    @include leader(0);
    @include trailer(1);
    li {
      @include trailer(0.5);
    }
  }

  ul {
    list-style: square outside none;
  }
}

// Headings
h1, .h1 {
  @include adjust-font-size-to(39px);
  @include leader(1,39px);
  @include trailer(0.5, 39px);
}

h2, .h2 {
  @include adjust-font-size-to(31px);
  @include leader(1.5,31px);
  @include trailer(0.5, 31px);
}

h3, .h3 {
  @include adjust-font-size-to(24px);
  @include leader(1,24px);
  @include trailer(1,24px);
}

// Content
.main {
  background-color: #fff;
}

// Header
.header-wrapper {
  background-color: $primary;
  padding-top: rhythm(0.5);
  padding-bottom: rhythm(0.5);
}

header {
  text-align: center;

  a {
    color: #fff;

    &:hover, &:focus { color: $primary; }
  }

  img {
    width: 95%;

    @include breakpoint($tablet-and-above) {
      width: 50%;
    }
  }

  h2 {
    color: #fff;
    text-transform: uppercase;
    @include adjust-font-size-to(14px);
    @include trailer(0);
  }
}

// Footer
footer {
  text-align: center;
  @include trailer(1, 15px);

  p {
    @include adjust-font-size-to(15px);
  }
}
