// Set baseline font size & line height
// See http://compass-style.org/reference/compass/typography/vertical_rhythm/#mixin-establish-baseline
@include establish-baseline;

// Set box-sizing: border-box and set the $border-box-sizing variable used internally by Susy
// See http://susy.oddbird.net/guides/reference/#ref-border-box-mixin
@include border-box-sizing;

// The basics
html {
  font-family: 'Libre Baskerville', georgia, 'times new roman', times, serif;
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
  padding: 0;
}

a {
  color: $primary;
  &:hover, &:focus {
    color: darken($primary, 20%);
  }
}

h1, h2 {
  color: $primary;
  font-family: 'Montserrat', 'Gill Sans', tahoma, 'Lucida Grande', helvetica, arial, sans-serif;
  font-weight: 400;
}

p {
  @include leader(0);
  @include trailer(1);
  &:last-child {
    @include trailer(0);
  }

  &.call-to-action {
    @include leader(1);
    @include trailer(1);

    a {
      background-color: $secondary;
      padding: rhythm(0.5);
      color: #fff;
      @include transition-property(background-color);
      @include transition-duration(0.5s);

      &:hover, &:focus {
        background-color: darken($secondary, 50%);
      }
    }
  }
}

// Lists
ul, ol {
  @include leader(0);
  @include trailer(1);
  padding-left: rhythm(1.5);
  li {
    @include trailer(0);
  }
}

h1, .h1 {
  @include adjust-font-size-to(36px);
  @include leader(0);
  @include trailer(1, 36px);
}

h2, .h2 {
  @include adjust-font-size-to(24px);
  @include leader(0);
  @include trailer(1, 24px);
}

h3, .h3 {
  @include adjust-font-size-to(20px);
  @include leader(0);
  @include trailer(1, 20px);
}

// Header
header {
  background-color: $primary;
  a {
    color: #fff;
  }

  h1 {
    @include trailer(1, 36px);
    @include adjust-font-size-to(36px);
    color: $secondary;
  }

  h2 {
    color: #fff;
    text-transform: uppercase;
    @include adjust-font-size-to(14px);
    @include trailer(0);
  }
}
