---
title: About BarCamp
---
<p>If you have never been to a BarCamp before, we would love for you to come along to BarCamp London X! It's great fun and we're always looking for new folks to attend. BarCamp is all about the people!</p>

<figure class="full">
  <%= image_tag 'barcamp-lego.jpg' %>
  <figcaption>This lego BarCamp sign was made by attendees at BarCamp London 6</figcaption>
</figure>

<h2>What Happens at a BarCamp?</h2>

<p>At BarCamp, a group of enthusiastic people gather to share their knowledge about technology and anything else they are interested in.  They do this by attending presentations given by other attendees - and giving presentations themselves, of course.  A BarCamp presentation can be as formal or informal as you like.  You can go to any session you like, and if you don't find a session interesting, you can leave and go to another.  Everyone is encouraged to give a session or participate in whatever way they can.  When sessions aren't running, there's usually other fun stuff happening: games, conversation, food and drink, silliness, and people hacking on projects.  Don't be afraid, there's lots of good stuff going on at BarCamp.</p>

<h2>About BarCamp</h2>

<p>BarCamp is a "participatory unconference", which means you, the attendees, are going to be making the event as great as it can be.  The idea is that everyone who comes takes part in some way: that might be running a session (which is not as scary as you might think), taking photos, blogging, tweeting etc.</p>

<p>The event is all about sharing knowledge and having fun with like-minded people in a safe environment. <strong>BarCamp London is for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof).</strong> Everyone who attends must agree to the <a href="http://confcodeofconduct.com">code of conduct</a>.</p>

<h2>The Grid</h2>

<figure>
  <%= image_tag 'the-session-grid.jpg' %>
  <figcaption>The session grid</figcaption>
</figure>

<p>Sessions are not booked or organised like an ordinary conference, instead we will open up a "Grid" with empty slots.  One column for each room, one row for each time slot, one grid for each day.  When the grid opens, at around 11:45am, you will be able to claim your slot on the grid by sticking up an index card with your session title and your name on with some Blu-Tack.  Index cards, pens, and Blu-Tack are all provided for you in the morning so you will be ready when the grid opens.</p>

<h2>Session Topics</h2>

<figure class="left">
  <%= image_tag 'paul-sushi.jpg' %>
  <figcaption>Paul Brannigan demonstrating how to make sushi.</figcaption>
</figure>

<p>You can run a session on anything you want.  Really: <em>anything</em>.  Your session needn't be technical or formal, and can be in any style you are comfortable with.  We've had sessions on all sorts of topics in the past such as mixing mojitos, photography, lifehacking, and making sushi (and plenty of other stuff), right through to advanced discussions on programming, hardware hacking, and web design.  Take your pick!</p>

<p>A good tip is to head to sessions that you know less about, that way you will learn more.  If you don't see a session on something you are interested in, you might want to run a discussion or sharing session where you can all just talk about something - whether that's kittens, Python or juggling.</p>

<h2>Evening Entertainment</h2>

<figure>
  <%= image_tag 'tom-and-dom.jpg' %>
  <figcaption>Tom Scott asks questions to Dom Hodgson, in a <a href="https://www.youtube.com/watch?v=9J0N8R-O3gg">live interactive gameshow</a> at BarCamp London 8.</figcaption>
</figure>

<p>Sessions will run into the evening, after which we will be having a party and there will be lots of treats for everyone!  There will also be traditional BarCamp games such as werewolf and Powerpoint karaoke (we can teach you at BarCamp - don't worry!), and hopefully some fantastic conversations.</p>

<p>These will all go on late into the night, and everyone can stay in the venue overnight. Just remember to bring a sleeping bag if you intend to get some sleep!</p>

<h2>Food And Drink</h2>

<p>We will provide meals, drinks and snacks to keep you going over the weekend, so there's no need to bring your own.</p>
