---
title: The Team
---
<p>This event could only be possible through the hard work and efforts of the following people:</p>

<ul>
<li><a href="http://cristianobetta.com/">Cristiano Betta</a> (<a href="http://twitter.com/cbetta">@cbetta</a>)</li>
<li><a href="http://www.kevinprince.me/">Kevin S. Prince</a> (<a href="http://twitter.com/kevinprince">@kevinprince</a>)</li>
<li><a href="http://www.missgeeky.com/">Melinda Seckington</a> (<a href="http://twitter.com/mseckington">@mseckington</a>)</li>
<li><a href="http://lee-cann.com/">Robert Lee-Cann</a> (<a href="http://twitter.com/leeky">@leeky</a>)</li>
</ul>
<p>This event is supported by <a href="http://www.geeksoflondon.com/">Geeks of London</a>.</p>

<p>Apologies if you're helping out and we’ve missed your name off the list. Drop an email to <a href="mailto:help@barcamplondon.org">help@barcamplondon.org</a> and we’ll fix it straight away!</p>
