---
title: Colophon
---

<h2>Photo Credits</h2>
<p>All images used on this site were published under a Creative Commons license. Thanks to the following people for making their images freely available:</p>

<ul>
  <li><a href="https://www.flickr.com/photos/adewale_oshineye/3405080707">Adewale Oshineye</a></li>
  <li><a href="https://www.flickr.com/photos/lookluk/4928845527/">duncluk</a></li>
  <li><a href="https://www.flickr.com/photos/kerrybuckley/5173829027/">Kerry Buckley</a></li>
  <li><a href="https://www.flickr.com/photos/martin_88/5182463344/">Martin Cunningham</a></li>
  <li><a href="https://www.flickr.com/photos/leeky/5185815790/">Robert Lee-Cann</a></li>
  <li><a href="https://www.flickr.com/photos/spiritquest/6292632238/">SpiritQuest</a></li>
</ul>

<h2>Fonts</h2>
<p>We use <a href="http://www.google.com/fonts/specimen/Montserrat">Montserrat</a> by Julieta Ulanovsky throughout the site.</p>

<h2>Content Management</h2>
<p>This site uses <a href="http://middlemanapp.com/">Middleman</a>, pushing to <a href="https://github.com/">GitHub Pages</a></p>

