---
title: Deliveries
---
<p>Please see below details for delivering to BarCamp London Ten.</p>

<p>Should you have any queries please <a href="mailto:kevin@geeksoflondon.com">email us</a>
or call us <b>020 3322 8842</b></p>

<h2>Shipping via DHL / UPS etc</h2>

<p>Please aim for packages to arrive on either Wednesday 25th or Thursday 26th
  September. All parcels should be clearly addressed to:</p>

<p><b>Microsoft Limited<br />
FAO: Shelly Ann-Thomas<br />
BarCamp London 27th September</b><br />
Customer Briefing Centre<br />
Land Sec Mailroom<br />
80 Victoria Street<br />
London<br />
SW1E 5JL</p>

<p>Please email <a href="mailto:kevin@geeksoflondon.com">kevin@geeksoflondon.com</a>
  with:</p>

<ul>
  <li>Number of boxes</li>
  <li>Carrier Used</li>
  <li>Tracking Number</li>
</ul>

<h2>Load in at Cardinal Place</h2>

<p>Load-in is by prior arrangement only, if you require this please get in touch</p>

<h3>Pre-Arrival</h3>

<p>Please email <a href="mailto:kevin@geeksoflondon.com">kevin@geeksoflondon.com</a>
  with the below at least 24 hours prior:</p>

<ul>
  <li>Time of delivery</li>
  <li>Name of driver</li>
  <li>Vehicle details (Type, Color, Registration Number)</li>
</ul>

<h3>Where to go</h3>

<p>Our loading bay is located on Palace Street which is just off Victoria
  Street.</p>

<p>We recommend <b>55 Palace Street, London, SW1E 5HJ</b> for sat navs. The loading bay
  entrance is located directly opposite Westminister City School</p>

<h3>Upon Arrival</h3>

<p>Please instruct your driver to call our main desk <b>020 3322 8842</b> and
  our staff will meet them in the loading dock</p>
