<div itemscope itemtype="http://data-vocabulary.org/Event">
  <h1>BarCamp London returns this September</h1>

  <p class="homepage-intro">After a three year hiatus, during which we've organised two <a href="http://barcampberkshire.com/">BarCamp Berkshires</a> and one <a href="http://hacked.io">epic-scale hack day</a>, BarCamp London is finally back!</p>

  <p>We're still working out the details, but if you'd like to be one of the first to know more, please sign up to the mailing list.</p>

  <h2>Where?</h2>

  <p>Microsoft has very kindly offered to host us at <a href="http://www.microsoft.com/en-gb/about/ukoffices/london">their offices in Central London</a>, located a short distance from London Victoria Railway Station.</p>

  <h2>When?</h2>
  <p><span itemprop="summary">BarCamp London X</span> will take place on <time itemprop="startDate" datetime="2014-09-27">Saturday 27th September</time> and <time itemprop="endDate" datatime="2014-09-28">Sunday 28th September</time>.</p>
</div>

<p class="call-to-action"><a href="#">Sign up to our mailing list for all the details...</a></p>
