<div itemscope itemtype="http://data-vocabulary.org/Event">
  <h1>BarCamp London returns this September</h1>

  <p><strong>After a three year hiatus, during which we've organised two <a href="http://barcampberkshire.com/">BarCamp Berkshires</a> and one <a href="http://hacked.io">epic-scale hack day</a>, BarCamp London is finally back!</strong></p>

  <p>We're still working out the details, but if you'd like to be one of the first to know more, please sign up to the mailing list.</p>


  <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="r/A6/9B7/302/298148A1455EA3C7">
  </div>

  <script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript';
    e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2';
    e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();
  </script>


  <h2>Where?</h2>

  <p>Microsoft has very kindly offered to host us at <a href="http://www.microsoft.com/en-gb/about/ukoffices/london">their offices in Central London</a>, located a short distance from London Victoria Railway Station.</p>

  <h2>When?</h2>
  <p><span itemprop="summary">BarCamp London X</span> will take place on <time itemprop="startDate" datetime="2014-09-27">Saturday 27th September</time> and <time itemprop="endDate" datatime="2014-09-28">Sunday 28th September</time>.</p>

  <h2>Sponsor the event</h2>
  <p>We couldn't run events like BarCamp London X, without the generous support of our sponsors. If your company is interested in supporting this event, please <a href="mailto:cristiano@barcamplondon.org">get in touch</a>.
</div>
