---
title: Sponsors
---
<p>We simply couldn't put on BarCamp London X without the generous support of our sponsors.</p>

<h2>Microsoft</h2>
<p>...</p>

<h2>PayPal</h2>
<p>...</p>

<h2>SendGrid</h2>
<p>...</p>

<h2>Twilio</h2>
<p>...</p>

<h2>Proactive</h2>
<p>...</p>

<h2>DXW</h2>
<p>...</p>

<h2>vektor</h2>
<p>...</p>

<h2>FutureLearn</h2>
<p>...</p>
