---
title: Tickets
---
<%# <figure> %>
<%#   <%= image_tag 'badge.jpg' %1> %>
<%#   <figcaption></figcaption> %>
<%# </figure> %>

<p>BarCamp London is very popular, and tickets are usually snapped up very quickly indeed.</p>

<h2>First Batch</h2>
<p><strong>The first batch of tickets will be released on Friday 22nd August at 2pm.</strong></p>

<div style="width: auto; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=5483322766&ref=etckt" frameborder="0" height="230" width="98%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://barcamplondon.eventbrite.com/?ref=etckt">BarCamp London X</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

<p>Missed out? Can't get online at 2pm on Friday? Join our mailing list below, or <a href="https://twitter.com/barcamplondon">follow us on Twitter</a> to know about further ticket releases.</p>

<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="r/A6/9B7/302/298148A1455EA3C7">
</div>

<script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript';
  e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2';
  e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();
</script>
<h2>Golden Ticket</h2>

<p>Have you been to every single BarCamp London?</p>

<p>We're giving away special <b>Golden Tickets</b> to those of you that have been dedicated to BarCamp for the past 8 years. <a href ="mailto:help@barcamplondon.org">Email us</a> or <a href="https://twitter.com/barcamplondon">tweet us</a> to claim your ticket!</p>
