.header-wrapper, .main, .footer-wrapper {
  @include clearfix();
}

header, footer, .main {
  @include container();
  max-width: 90%;

  @include breakpoint($tablet-and-above) {
    max-width: 90%;
  }

  @include breakpoint($desktop-and-above) {
    width: 90%;
    max-width: pxtoem(960px);
  }
}

// article {
//   @include span(last 9);
//   @include pre(3);
// }
