section, header, footer {
  @include container(12);
  margin-left: gutters();
  margin-right: gutters();

  @include breakpoint($tablet-and-above) {
    @include container;
  }

  @include breakpoint($desktop-and-above) {
    @include container;

    @if $lt-ie9 {
      width: pxtoem(1024px);
    }
    @else {
      max-width: pxtoem(1024px);
    }
  }
}


@include breakpoint($tablet-and-above) {
  section {
    width: span(8);
    margin-left: span(2 wide);
    margin-right: span(2 wide);
  }
}

/*
@include breakpoint($tablet-and-above) {
  body { color: red !important }
}

@include breakpoint($desktop-and-above) {
  body { color: blue !important }
}
*/
